<!DOCTYPE html>
<html>
    <head>
        <link id="stylesheet" rel="stylesheet" type="text/css" href="/static/css/style.css">
        <title id="title">Create Your Board</title>
    </head>
    <body style="text-align: center;">
        <h1 id="create-board-header" class="board-header" style="margin: 0;">Create Board</h1>
        <br>
        <h1 class="settings-header" style="font-style: oblique;">Settings</h1>
        <div class="settings">
            <a style="font-size: 3em;" href="/custom/create-board/instructions">Instructions Page -- Highly Recommended</a>
            <a class="deduct-points-checkbox">Deduct Points <input id="deduct-points-checkbox" type="checkbox" checked></a>
            <a class="show-checkboxes">Show Double Button <input id="show-double-checkbox" type="checkbox"></a>
            <a class="show-checkboxes">Show Final Button <input id="show-final-checkbox" type="checkbox"></a>
            <a class="show-checkboxes">Show Results Button <input id="show-results-checkbox" type="checkbox"></a>
            <a class="countDropdown">Column Count:
                <select name="columnRange" id="columnRange" onchange="changeColumnRows();">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6" selected>6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
            </a>
            <a class="countDropdown">Row Count:
                <select name="rowRange" id="rowRange" onchange="changeColumnRows();">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5" selected>5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </a>
            <br>
            <a class="double-checkbox">Double <input id="double-checkbox" type="checkbox" onchange="checkGeneratedNone('double');" checked></a>
            <a class="final-checkbox">Final <input id="final-checkbox" type="checkbox" onchange="checkGeneratedNone('final');" checked></a>
            <br>
            <button id="switch-double" type="button" onclick="switchDouble();">Switch to Double</button>
            <button id="switch-final" type="button" onclick="switchFinal();">Switch to Final</button>
        </div>
        <br><a id="game-board-header" style="font-size: 350%; font-style: oblique; width: fit-content; text-align: center; font-weight: bold;">Single Game Board</a><br><br>

        <div id="single-tables">
            <div id="single-categories"></div>
            <div id="single-values"></div>    
            <div id="single-questions"></div>
        </div>

        <div id="double-tables" hidden>
            <div id="double-categories"></div>
            <div id="double-values"></div>    
            <div id="double-questions"></div>
        </div>

        <div id="final-table" hidden>
            <table id="final-edit-table" class="edit table responsive">
                <tr>
                    <td id="fC" onclick="editText('fC');" class="finalFont" onmouseleave="resetTextEditable('fC');">
                        <a id="fCA" contenteditable="false">FINAL CATEGORY</a>
                    </td>
                </tr>
                <tr>
                    <td id="fQ" onclick="editText('fQ');" class="finalFont" onmouseleave="resetTextEditable('fQ');">
                        <a id="fQA" contenteditable="false">FINAL CLUE</a>
                    </td>
                </tr>
                <tr>
                    <td id="fA" onclick="editText('fA');" class="finalFont" onmouseleave="resetTextEditable('fA');">
                        <a id="fAA" contenteditable="false">FINAL ANSWER</a>
                    </td>
                </tr>
            </table>
        </div>

        <button id="edit-questions" type="button" onclick="switchQuestionValue();">Edit Questions</button>
        <button id="show-answer-board" type="button" onclick="switchAnswerBoard();">Show Answer Board</button>
        <br><br><a id="answer-board-header" style="font-size: 350%; font-style: oblique; width: fit-content; text-align: center; font-weight: bold;" hidden>Single Answer Board</a><br><br>
        
        <div id="single-answers"></div>

        <div id="double-answers" hidden></div>
        
        <form action="/custom/save" method="POST" onsubmit="saveCSV();">
            <input type="text" value="" id="deduct-points" name="deduct_points" hidden>
            <input type="text" value="" id="show-double-button" name="show_double_button" hidden>
            <input type="text" value="" id="show-final-button" name="show_final_button" hidden>
            <input type="text" value="" id="show-results-button" name="show_results_button" hidden>

            <input type="text" value="" id="single-categories-csv" name="single_categories_csv" hidden>
            <input type="text" value="" id="single-values-csv" name="single_values_csv" hidden>
            <input type="text" value="" id="single-clues-csv" name="single_clues_csv" hidden>
            <input type="text" value="" id="single-answers-csv" name="single_answers_csv" hidden>

            <input type="text" value="" id="single-row-count" name="single_row_count" hidden>
            <input type="text" value="" id="single-column-count" name="single_column_count" hidden>

            <input type="text" value="" id="double-categories-csv" name="double_categories_csv" hidden>
            <input type="text" value="" id="double-values-csv" name="double_values_csv" hidden>
            <input type="text" value="" id="double-clues-csv" name="double_clues_csv" hidden>
            <input type="text" value="" id="double-answers-csv" name="double_answers_csv" hidden>

            <input type="text" value="" id="double-row-count" name="double_row_count" hidden>
            <input type="text" value="" id="double-column-count" name="double_column_count" hidden>

            <input type="text" value="" id="final-category-csv" name="final_category_csv" hidden>
            <input type="text" value="" id="final-clue-csv" name="final_clue_csv" hidden>
            <input type="text" value="" id="final-answer-csv" name="final_answer_csv" hidden>

            <input type="text" value="" id="user-name-input" name="user_name_input" placeholder=".CSV File Name">
            <br>
            <button type="submit" id="save-button">Save as .CSV</button>
        </form>
        <form action="/" method="GET" class="form">
            <button type="submit" id="back-button">Back</button>
        </form>

        <a id="is-edit-board" hidden>false</a>

        <a id="edit-single-column-count" hidden>6</a>
        <a id="edit-single-row-count" hidden>5</a>
        <a id="edit-single-categories" hidden></a>
        <a id="edit-single-clues" hidden></a>
        <a id="edit-single-values" hidden></a>
        <a id="edit-single-answers" hidden></a>
        <a id="edit-single-daily-doubles" hidden></a>

        <a id="edit-double-column-count" hidden>6</a>
        <a id="edit-double-row-count" hidden>5</a>
        <a id="edit-double-categories" hidden></a>
        <a id="edit-double-clues" hidden></a>
        <a id="edit-double-values" hidden></a>
        <a id="edit-double-answers" hidden></a>
        <a id="edit-double-daily-doubles" hidden></a>
    </body>
</html>

<script type="text/javascript">
    var categories = document.getElementById("single-categories");
    var answerBoard = document.getElementById("single-answers");
    var values = document.getElementById('single-values');
    var questions = document.getElementById('single-questions');
    
    var rowRange = document.getElementById('rowRange');
    var rowMax = rowRange.options[rowRange.options.length - 1].value;
    var columnRange = document.getElementById('columnRange');
    var columnMax = columnRange.options[columnRange.options.length - 1].value;
    
    var singleCategoriesList = [];
    var singleValuesList = [];
    var singleCluesList = [];
    var singleDailyDoublesList = [];
    var singleAnswersList = [];
    
    var doubleCategoriesList = [];
    var doubleValuesList = [];
    var doubleCluesList = [];
    var doubleDailyDoublesList = [];
    var doubleAnswersList = [];

    var singleRowCount = 5;
    var singleColumnCount = 6;
    
    var doubleRowCount = 5;
    var doubleColumnCount = 6;
    var editBoard = false;

    var generatedSingleTable = false;
    var generatedDoubleTable = false;

    if (document.getElementById('is-edit-board').innerText == 'true') {
        generatedSingleTable = true;
        generatedDoubleTable = true;
        singleColumnCount = document.getElementById('edit-single-column-count').innerText;
        singleRowCount = document.getElementById('edit-single-row-count').innerText;
        singleCategoriesList = document.getElementById('edit-single-categories').innerText.toString().split(',');
        singleCluesList = document.getElementById('edit-single-clues').innerText.toString().split(',');
        singleValuesList = document.getElementById('edit-single-values').innerText.toString().split(',');
        singleAnswersList = document.getElementById('edit-single-answers').innerText.toString().split(',');
        singleDailyDoublesList = document.getElementById('edit-single-daily-doubles').innerText.toString().split(',');

        doubleColumnCount = document.getElementById('edit-double-column-count').innerText;
        doubleRowCount = document.getElementById('edit-double-row-count').innerText;
        doubleCategoriesList = document.getElementById('edit-double-categories').innerText.toString().split(',');
        doubleCluesList = document.getElementById('edit-double-clues').innerText.toString().split(',');
        doubleValuesList = document.getElementById('edit-double-values').innerText.toString().split(',');
        doubleAnswersList = document.getElementById('edit-double-answers').innerText.toString().split(',');
        doubleDailyDoublesList = document.getElementById('edit-double-daily-doubles').innerText.toString().split(',');

        for (var i = 0; i < (columnMax*rowMax); i++) {
            singleValuesList[i] = singleValuesList[i].replace('$', '');
            doubleValuesList[i] = doubleValuesList[i].replace('$', '');
        }
        idModifier = "d";
        generateTable();
        idModifier = "s";
    }

    var finalCategory = "FINAL CATEGORY";
    var finalClue = "FINAL CLUE";
    var finalAnswer = "FINAL ANSWER";
    
    var idModifier = "s";

    var tableCategoriesHTML;
    var tableValuesHTML;
    var tableQuestionsHTML;
    var tableAnswersHTML;

    var isContentEditable = true;

    var isSaved = false;

    generateTable();
    generatedSingleTable = true;

    function changeColumnRows() {
        if (idModifier == "s") {
            singleRowCount = document.getElementById("rowRange").value;
            singleColumnCount = document.getElementById("columnRange").value;;
        }
        else if (idModifier == "d") {
            doubleRowCount = document.getElementById("rowRange").value;
            doubleColumnCount = document.getElementById("columnRange").value;
        }
        generateTable();
    }

    function saveCSV() {
        if (!isSaved) {
            isSaved = true;
            if (!generatedDoubleTable) {
                idModifier = "d";
                generateTable();
                idModifier = "s";
            }
            document.getElementById('single-row-count').value = singleRowCount;
            document.getElementById('single-column-count').value = singleColumnCount;
            document.getElementById('double-row-count').value = doubleRowCount;
            document.getElementById('double-column-count').value = doubleColumnCount;
            
            if (document.getElementById('deduct-points-checkbox').checked) {
                document.getElementById('deduct-points').value = "TRUE";
            }            
            else {
                document.getElementById('deduct-points').value = "FALSE";
            }

            if (document.getElementById('show-double-checkbox').checked) {
                document.getElementById('show-double-button').value = "TRUE";
            }
            else {
                document.getElementById('show-double-button').value = "FALSE";
            }
            if (document.getElementById('show-final-checkbox').checked) {
                document.getElementById('show-final-button').value = "TRUE";
            }
            else {
                document.getElementById('show-final-button').value = "FALSE";
            }
            if (document.getElementById('show-results-checkbox').checked) {
                document.getElementById('show-results-button').value = "TRUE";
            }
            else {
                document.getElementById('show-results-button').value = "FALSE";
            }
            
            for (var i = 0; i < columnMax; i++) {
                if (i <= (columnMax-2)) {
                    if (i >= singleColumnCount) {
                        document.getElementById('single-categories-csv').value += "DISABLED&";
                    }
                    else {
                        document.getElementById('single-categories-csv').value += singleCategoriesList[i] + '&';
                    }
                }
                else {
                    if (i >= singleColumnCount) {
                        document.getElementById('single-categories-csv').value += "DISABLED";
                    }
                    else {
                        document.getElementById('single-categories-csv').value += singleCategoriesList[i];
                    }
                }

                if (document.getElementById('double-checkbox').checked) {
                    if (i <= (columnMax-2)) {
                        if (i >= doubleColumnCount) {
                            document.getElementById('double-categories-csv').value+= "DISABLED&";
                        }
                        else {
                            document.getElementById('double-categories-csv').value += doubleCategoriesList[i] + '&';
                        }
                    }
                    else {
                        if (i >= doubleColumnCount) {
                            document.getElementById('double-categories-csv').value += "DISABLED";
                        }
                        else {
                            document.getElementById('double-categories-csv').value += doubleCategoriesList[i];
                        }

                    }
                }
                else {
                    if (i <= (columnMax-2)) {
                        document.getElementById('double-categories-csv').value += 'NONE&';
                    }
                    else {
                        document.getElementById('double-categories-csv').value += 'NONE';
                    }
                }
            }

            document.getElementById('final-category-csv').value = document.getElementById('fCA').innerText;
            document.getElementById('final-clue-csv').value = document.getElementById('fQA').innerText;
            document.getElementById('final-answer-csv').value = document.getElementById('fAA').innerText;

            var singleValuesIncrementor = 0;
            var singleListIncrementor = 0;

            var doubleValuesIncrementor = 0;
            var doubleListIncrementor = 0;
            
            for (var i = 0; i < ((rowMax*columnMax+singleListIncrementor)); i++) {
                var dailyDoubleModifier = "";

                if (i >= singleRowCount*singleColumnCount+singleListIncrementor) {
                    document.getElementById('single-values-csv').value += "DISABLED&";
                }
                else if (singleValuesIncrementor < singleColumnCount) {
                    if (singleDailyDoublesList[i] == 'checked') {
                        dailyDoubleModifier = "DD: ";
                    }
                    document.getElementById('single-values-csv').value += dailyDoubleModifier + "$" + document.getElementById('sV'+(i-singleListIncrementor)+"A").innerText + "&";
                    singleValuesIncrementor++;
                }
                else if (singleValuesIncrementor < (rowMax-2)) {
                    document.getElementById('single-values-csv').value += "DISABLED&";
                    singleValuesIncrementor++;
                    singleListIncrementor++;
                }
                else {
                    singleValuesIncrementor = 0;
                    singleListIncrementor++;
                }

                if ((i >= singleRowCount*singleColumnCount) && (i < 80)) {
                    document.getElementById('single-clues-csv').value += "DISABLED&";
                    document.getElementById('single-answers-csv').value += "DISABLED&";
                }
                else if ((i < singleRowCount*singleColumnCount) && (i < 80)){
                    document.getElementById('single-clues-csv').value += document.getElementById('sQ'+i+"A").innerText + '&';
                    document.getElementById('single-answers-csv').value += document.getElementById('sA'+i+"A").innerText + '&';
                }
                else if ((i < singleRowCount*singleColumnCount) && (i == 80)) {
                    document.getElementById('single-clues-csv').value += document.getElementById('sQ'+i+"A").innerText;
                    document.getElementById('single-answers-csv').value += document.getElementById('sA'+i+"A").innerText;
                }
            }

            for (var i = 0; i < ((rowMax*columnMax+doubleListIncrementor)); i++) {
                var dailyDoubleModifier = "";
                
                if (i < (doubleRowCount*doubleColumnCount)) {
                    if (doubleDailyDoublesList[i] == 'checked') {
                        dailyDoubleModifier = "DD: ";
                    }
                }

                if (i >= doubleRowCount*doubleColumnCount+doubleListIncrementor) {
                    document.getElementById('double-values-csv').value += "DISABLED&";
                }
                else if (doubleValuesIncrementor < doubleColumnCount) {
                    document.getElementById('double-values-csv').value += dailyDoubleModifier + "$" + document.getElementById('dV'+(i-doubleListIncrementor)+"A").innerText + "&";
                    doubleValuesIncrementor++;
                }
                else if (doubleValuesIncrementor < (rowMax-2)) {
                    document.getElementById('double-values-csv').value += "DISABLED&";
                    doubleValuesIncrementor++;
                    doubleListIncrementor++;
                }
                else {
                    doubleValuesIncrementor = 0;
                    doubleListIncrementor++;
                }

                if ((i >= doubleRowCount*doubleColumnCount) && (i < 80)) {
                    document.getElementById('double-clues-csv').value += "DISABLED&";
                    document.getElementById('double-answers-csv').value += "DISABLED&";
                }
                else if ((i < doubleRowCount*doubleColumnCount) && (i < 80)){
                    document.getElementById('double-clues-csv').value += document.getElementById('dQ'+i+"A").innerText + '&';
                    document.getElementById('double-answers-csv').value += document.getElementById('dA'+i+"A").innerText + '&';
                }
                else if ((i < doubleRowCount*doubleColumnCount) && (i == 80)) {
                    document.getElementById('double-clues-csv').value += document.getElementById('dQ'+i+"A").innerText;
                    document.getElementById('double-answers-csv').value += document.getElementById('dA'+i+"A").innerText;
                }
            }
        }
    }

    function generateTable() {
        var numModifier;
        var generatedTable;
        var generatedList;

        var rowCount;
        var columnCount;

        var categoriesList = [];
        var valuesList = [];
        var cluesList = [];
        var dailyDoublesList = [];
        var answersList = [];

        var valuesIncrementor = 0;
        var valuesMax = 0;
        //IF ISSUES, SET listIncrementor BACK TO 1
        var listIncrementor = 0;

        var doubleIsNone = !document.getElementById("double-checkbox").checked;

        if (idModifier == 's') {
            numModifier = 200;
            rowCount = singleRowCount;
            columnCount = singleColumnCount;
            generatedTable = generatedSingleTable;

            tableCategoriesHTML = "<table id='single-categories-table' class='edit table responsive'>";
            tableValuesHTML = "<table id='single-edit-table' class='edit table responsive'>";
            tableQuestionsHTML = "<table id='single-questions-table' class='edit table responsive'>";
            tableAnswersHTML = "<table id='single-answers-table' class='edit table responsive'>";

            categories = document.getElementById("single-categories");
            answerBoard = document.getElementById("single-answers");
            values = document.getElementById('single-values');
            questions = document.getElementById('single-questions');

            categoriesList = singleCategoriesList;
            valuesList = singleValuesList;
            cluesList = singleCluesList;
            dailyDoublesList = singleDailyDoublesList;
            answersList = singleAnswersList;
        }
        else if (idModifier == 'd') {
            numModifier = 400;
            rowCount = doubleRowCount;
            columnCount = doubleColumnCount;
            generatedTable = generatedDoubleTable;

            tableCategoriesHTML = "<table id='double-categories-table' class='edit table responsive'>";
            tableValuesHTML = "<table id='double-edit-table' class='edit table responsive'>";
            tableQuestionsHTML = "<table id='double-questions-table' class='edit table responsive'>";
            tableAnswersHTML = "<table id='double-answers-table' class='edit table responsive'>";

            categories = document.getElementById("double-categories");
            answerBoard = document.getElementById("double-answers");
            values = document.getElementById('double-values');
            questions = document.getElementById('double-questions');

            categoriesList = doubleCategoriesList;
            valuesList = doubleValuesList;
            cluesList = doubleCluesList;
            dailyDoublesList = doubleDailyDoublesList;
            answersList = doubleAnswersList;
        }
        tableCategoriesHTML += "<tr>";
        tableAnswersHTML += "<tr>";
        
        if (!generatedTable) {
            for (var j = 0; j < columnMax; j++) {
                categoriesList.push("CATEGORY"+(j+1));
            }
            for (var i = 0; i < rowMax; i++) {
                for (var j = 0; j < columnMax; j++) {
                    valuesList.push((i+1)*numModifier);
                    cluesList.push("CLUE"+((i*columnMax)+(j+1)));
                    dailyDoublesList.push("unchecked");
                    answersList.push("ANSWER"+((i*columnMax)+(j+1)));
                }
            }
        }
        console.log(dailyDoublesList);
        for (var currentColumn = 0; currentColumn < columnCount; currentColumn++) {
            tableCategoriesHTML += "<th id='"+idModifier+"C" +currentColumn+ "' ondblclick='editText(\""+idModifier+"C" +currentColumn+ "\");' onmouseleave='resetTextEditable(\""+idModifier+"C" +currentColumn+ "\");' >";
            tableAnswersHTML += "<th id='"+idModifier+"AC" +currentColumn+ "' ondblclick='editText(\""+idModifier+"AC" +currentColumn+ "\");' onmouseleave='resetTextEditable(\""+idModifier+"AC" +currentColumn+ "\");' >";
            if (doubleIsNone) {
                tableCategoriesHTML += "<a id='"+idModifier+"C" +currentColumn+ "A' contenteditable='false'>NONE</a>";
                tableCategoriesHTML += "</th>";

                tableAnswersHTML += "<a id='"+idModifier+"AC" +currentColumn+ "A' contenteditable='false'>NONE</a>";
                tableAnswersHTML += "</th>";
            }
            else {
                tableCategoriesHTML += "<a id='"+idModifier+"C" +currentColumn+ "A' contenteditable='false'>"+categoriesList[currentColumn]+ "</a>";
                tableCategoriesHTML += "</th>";

                tableAnswersHTML += "<a id='"+idModifier+"AC" +currentColumn+ "A' contenteditable='false'>"+categoriesList[currentColumn]+ "</a>";
                tableAnswersHTML += "</th>";

            }
        }            
        tableAnswersHTML += "</tr>";
        for (var currentRow = 0; currentRow < rowCount; currentRow++) {
            tableValuesHTML += "<tr id='"+idModifier+"VTr"+currentRow+"'>";
            tableQuestionsHTML += '<tr id="'+idModifier+'QTr'+currentRow+'">';
            tableAnswersHTML += '<tr class="answerFont">';

            if (columnCount != columnMax) {
                valuesIncrementor = 0;

                //Sort Values to the respective cell
                var num = 0;
                
                //Change values to necessary value according to Column Count
                //'Default' cases; used in 'i==3' through 'i==9'
                if (columnCount == 1) {num = 7;}
                else if (columnCount == 2) {num = 5;}
                else if (columnCount == 3) {num = 3;}
                else if (columnCount == 4) {num = 1;}
                else if (columnCount == 5) {num = -1;}
                else if (columnCount == 6) {num = -3;}

                if (currentRow == 0) {
                    //num = 8 no matter columnModifier
                    num = (-columnCount+8);
                }
                else if (currentRow == 1) {
                    if (columnCount == 1) {num = 7;}
                    else if (columnCount == 2) {num = 5;}
                    else if (columnCount == 3) {num = 3;}
                    else {num = 1;}
                }
                else if (currentRow == 2) {
                    if (columnCount == 1) {num = 7;}
                    else if (columnCount == 2) {num = 5;}
                    else if (columnCount == 3) {num = 3;}
                    else if (columnCount == 4) {num = 1;}
                    else if (columnCount == 7) {num = 0;}
                    else {num = -1;}
                }
                else if (currentRow == 3) {
                    if (columnCount == 7) {num = -1;}
                }
                else if (currentRow == 4) {
                    if (columnCount == 7) {num = -2;}
                }
                else if (currentRow == 5) {
                    if (columnCount == 7) {num = -3;}
                }
                else if (currentRow == 6) {
                    if (columnCount == 7) {num = -4;}
                }
                else if (currentRow == 7) {
                    if (columnCount == 7) {num = -5;}
                }
                else if (currentRow == 8) {
                    if (columnCount == 7) {num = -6;}
                }
                else if (currentRow == 9) {
                    if (columnCount == 7) {num = -7;}
                }

                valuesMax = ((columnMax-columnCount)-(num));
            }
            
            for (var currentColumn = 0; currentColumn < columnCount; currentColumn++) {
                var incrementor = ((currentRow*columnCount)+currentColumn);
                if (doubleIsNone) {
                    isContentEditable = false;
                    //Create HTML for Values Table
                    tableValuesHTML += "<td id='"+idModifier+"V"+incrementor+"' ondblclick='editRowValue(\""+idModifier+"V"+incrementor+"\");' onmouseleave='resetRowValueEditable(\""+idModifier+"V"+incrementor+"\");'>$<a id='"+idModifier+"V"+incrementor+"A'>NONE</a><br><input type='checkbox' id='"+idModifier+"CBV"+incrementor+"' class='dailyDoubleCheckbox'></td>";

                    //Create HTML for Questions Table
                    tableQuestionsHTML += '<td id="'+idModifier+'Q'+incrementor+'" ondblclick="editText(\''+idModifier+'Q'+incrementor+'\');" onmouseleave="resetTextEditable(\''+idModifier+'Q'+incrementor+'\');" ><a id="'+idModifier+'Q'+incrementor+'A">NONE</a><br><input type="checkbox" id="'+idModifier+'CBQ'+incrementor+'" class="dailyDoubleCheckbox"></td>';
                    
                    //Create HTML for Answers Table
                    tableAnswersHTML += '<td id="'+idModifier+'A'+incrementor+'" ondblclick="editText(\''+idModifier+'A'+incrementor+'\');" onmouseleave="resetTextEditable(\''+idModifier+'A'+incrementor+'\');" ><a id="'+idModifier+'A'+incrementor+'A">NONE</a></td>';
                }
                else {
                    //Create HTML for Values Table
                    //If cell doesn't need to be changed
                    if ((incrementor != ((columnCount*currentRow)+valuesIncrementor))) {
                        tableValuesHTML += '<td id="'+idModifier+'V'+incrementor+'" ondblclick="editRowValue(\''+idModifier+'V'+incrementor+'\');" onmouseleave="resetRowValueEditable(\''+idModifier+'V'+incrementor+'\');" >$<a id="'+idModifier+'V'+incrementor+'A">'+valuesList[incrementor]+'</a><br><input type="checkbox" id="'+idModifier+'CBV'+incrementor+'" class="dailyDoubleCheckbox"'+dailyDoublesList[incrementor]+' onchange="changeCheckboxList(\''+idModifier+"CBV"+incrementor+'\');"></td>';
                    }
                    //If cell needs to be changed
                    else {
                        tableValuesHTML += '<td id="'+idModifier+'V'+incrementor+'" ondblclick="editRowValue(\''+idModifier+'V'+incrementor+'\');" onmouseleave="resetRowValueEditable(\''+idModifier+'V'+incrementor+'\');">$<a id="'+idModifier+'V'+incrementor+'A">'+(valuesList[incrementor+listIncrementor])+'</a><br><input type="checkbox" id="'+idModifier+'CBV'+incrementor+'" class="dailyDoubleCheckbox"'+dailyDoublesList[incrementor]+' onchange="changeCheckboxList(\''+idModifier+"CBV"+incrementor+'\');"></td>';
                        
                        listIncrementor += (columnMax-columnCount);
                    }
                    if ((valuesIncrementor < valuesMax) && (incrementor != 1)) {
                        valuesIncrementor++;
                        listIncrementor -= (columnMax-columnCount);
                    }

                    //Create HTML for Questions Table
                    tableQuestionsHTML += '<td id="'+idModifier+'Q'+incrementor+'" ondblclick="editText(\''+idModifier+'Q'+incrementor+'\');" onmouseleave="resetTextEditable(\''+idModifier+'Q'+incrementor+'\');" ><a id="'+idModifier+'Q'+incrementor+'A">'+cluesList[incrementor]+'</a><br><input type="checkbox" id="'+idModifier+'CBQ'+incrementor+'" class="dailyDoubleCheckbox"'+dailyDoublesList[incrementor]+' onchange="changeCheckboxList(\''+idModifier+"CBV"+incrementor+'\');"></td>';
                    
                    //Create HTML for Answers Table
                    tableAnswersHTML += '<td id="'+idModifier+'A'+incrementor+'" ondblclick="editText(\''+idModifier+'A'+incrementor+'\');" onmouseleave="resetTextEditable(\''+idModifier+'A'+incrementor+'\');" ><a id="'+idModifier+'A'+incrementor+'A">'+answersList[incrementor]+'</a></td>';
                }
            }
            tableValuesHTML += "</tr>";
            tableQuestionsHTML += "</tr>";
            tableAnswersHTML += "</tr>";

        }
        tableValuesHTML += "</table>";
        tableQuestionsHTML += "</table>";
        tableAnswersHTML += "</table>";

        if (!generatedTable) {
            if (idModifier == 's') {
                singleCategoriesList = categoriesList;
                singleValuesList = valuesList;
                singleCluesList = cluesList;
                singleDailyDoublesList = dailyDoublesList;
                singleAnswersList = answersList;
            }
            else if (idModifier == 'd') {
                doubleCategoriesList = categoriesList;
                doubleValuesList = valuesList;
                doubleCluesList = cluesList;
                doubleDailyDoublesList = dailyDoublesList;
                doubleAnswersList = answersList;
            }
        }

        categories.innerHTML = tableCategoriesHTML;
        values.innerHTML = tableValuesHTML;
        questions.innerHTML = tableQuestionsHTML;
        answerBoard.innerHTML = tableAnswersHTML;

        if (values.hidden) {
            questions.hidden = false;
        }
        else if (!values.hidden) {
            questions.hidden = true;
        }
        else if (questions.hidden) {
            values.hidden = false;
        }
        else if (!questions.hidden) {
            values.hidden = true;
        }

        if (document.getElementById("show-answer-board").innerText == "Show Answer Board") {
            answerBoard.hidden = true;
        }
        else if (document.getElementById("show-answer-board").innerText == "Hide Answer Board") {
            answerBoard.hidden = false;
        }

        for (var i = 0; i < (columnCount*rowCount); i++) {
            document.getElementById(idModifier+"V"+i+"A").addEventListener("keydown", (e) => {
                var x = event.charCode || event.keyCode;
                if (isNaN(String.fromCharCode(e.which)) && (x!=8) && (x!=46) && (x!=96) && (x!=97) && (x!=98) && (x!=99) && (x!=100) && (x!=101) && (x!=102) && (x!=103) && (x!=104) && (x!=105) && (x!=110)) e.preventDefault();
            });
        }
    }

    function editText(id) {
        if (isContentEditable) {
            id += "A";
            document.getElementById(id).contentEditable = true;document.getElementById(id).addEventListener('keypress', (evt) => {
                if (evt.which === 13) {
                    makeContentEditable(id);
                }
            });
        }
    }

    function resetTextEditable(id) {
        if (isContentEditable) {
            id += "A";
            makeContentEditable(id);
        }
    }

    function editRowValue(id) {
        if (isContentEditable) {
            id += "A";
            document.getElementById(id).contentEditable = true;
            document.getElementById(id).addEventListener('keypress', (evt) => {
                if (evt.which === 13) {
                    resetRowValueEditable(id);
                }
            });
        }
    }

    function resetRowValueEditable(id) {
        if (isContentEditable) {
            if (!id.includes("A")) {
                id += 'A';
            }
            var rowCount;
            var columnCount;
            //var isSingle = false;
            var valuesList;
            if (idModifier == "s") {
                valuesList = singleValuesList;
                rowCount = singleRowCount;
                columnCount = singleColumnCount;
            }
            else if (idModifier == "d") {
                valuesList = doubleValuesList;
                rowCount = doubleRowCount;
                columnCount = doubleColumnCount;
            }
            /*
            if (event.getModifierState("CapsLock")) {
                isSingle = true;
            }
            */
            document.getElementById(id).contentEditable = false;
            //if (!isSingle) {
                var value = document.getElementById(id).innerText;
                id = parseInt(id.substring(2));
                id = Math.floor(id/columnCount);
                id *= columnCount;
                for (var i = id; i < (id+parseInt(columnCount)); i++) {
                    document.getElementById(idModifier + "V"+i+"A").innerText = value;
                }
                var incId = id;
                var currentColumn = id/columnCount;
                var idTest = currentColumn*(columnMax-columnCount);
                for (var j = 0; j < (columnMax); j++) {
                    valuesList[incId+idTest] = parseInt(value);
                    incId++;
                }
            //}
            /*
            else {
                //Modifies single value
                //change in valuesList. Can't simply do 'valuesList[idNum]' bc
                //will end up shifting incorrectly when changing columns
                //var idNum = parseInt(id.slice(2));
                //valuesList[idNum] = parseInt(document.getElementById(id).innerText); <----
                //console.log(valuesList);
            }
            */
            if (idModifier == "s") {
                singleValuesList = valuesList;
            }
            else if (idModifier == "d") {
                doubleValuesList = valuesList;
            }
            //console.log(valuesList);
        }
    }

    function checkGeneratedNone(id) {
        if (generatedDoubleTable) {
            checkIsNone(id);
        }
        else {
            idModifier = "d";
            generateTable();
            generatedDoubleTable = true;
            idModifier = "s";
            checkIsNone(id);
        }        
    }

    function checkIsNone(id) {
        if (idModifier == "s") {
            rowCount = singleRowCount;
            columnCount = singleColumnCount;
        }
        else if (idModifier == "d") {
            rowCount = doubleRowCount;
            columnCount = doubleColumnCount;
        }
        if ((document.getElementById(id+"-checkbox").checked && (document.getElementById('dC0A').innerText == "NONE") || (document.getElementById('fCA').innerText == "NONE"))) {
                isContentEditable = true;
                if (id == 'double') {
                    var oldIdModifier = idModifier;
                    document.getElementById('show-double-checkbox').disabled = false;
                    idModifier = "d";
                    generateTable();
                    if (oldIdModifier == "s") {
                        idModifier = "s";
                    }
                }
                else if (id == 'final') {
                    document.getElementById('show-final-checkbox').disabled = false;
                    document.getElementById('fCA').innerText = finalCategory;
                    document.getElementById('fQA').innerText = finalClue;
                    document.getElementById('fAA').innerText = finalAnswer;
                }
            }
            else if ((!document.getElementById(id+"-checkbox").checked && (document.getElementById('dC0A').innerText != "NONE") || (document.getElementById('fCA').innerText != "NONE"))) {
                isContentEditable = false;
                if (id == 'double') {
                    document.getElementById('show-double-checkbox').checked = false;
                    document.getElementById('show-double-checkbox').disabled = true;

                    for (var currentColumn = 0; currentColumn < columnCount; currentColumn++) {
                        document.getElementById('dC'+currentColumn+'A').innerText = "NONE";
                        document.getElementById('dAC'+currentColumn+'A').innerText = "NONE";
                    }
                    for (var i = 0; i < (columnCount*rowCount); i++) {
                        document.getElementById('dV'+i+'A').innerText = "NONE";
                        document.getElementById('dQ'+i+'A').innerText = "NONE";
                        document.getElementById('dA'+i+'A').innerText = "NONE";
                    }
                }
                else if (id == 'final') {
                    document.getElementById('show-final-checkbox').checked = false;
                    document.getElementById('show-final-checkbox').disabled = true;

                    document.getElementById('fCA').innerText = "NONE";
                    document.getElementById('fQA').innerText = "NONE";
                    document.getElementById('fAA').innerText = "NONE";
                }
            }
    }
    
    function switchQuestionValue() {
        var rowCount;
        var columnCount;
        if (idModifier == "s") {
            rowCount = singleRowCount;
            columnCount = singleColumnCount;
        }
        else if (idModifier == "d") {
            rowCount = doubleRowCount;
            columnCount = doubleColumnCount;
        }
        if (values.hidden) {
            for (var i = 0; i < rowCount; i++) {
                document.getElementById(idModifier + "VTr"+i).hidden = false;
                document.getElementById(idModifier + "QTr"+i).hidden = true;
            }
            for (var j = 0; j < (columnCount*rowCount); j++) {
                if (document.getElementById(idModifier + "CBQ"+j).checked) {
                    document.getElementById(idModifier + "CBV"+j).checked = true;
                }
                else {
                    document.getElementById(idModifier + "CBV"+j).checked = false;
                }
            }
            document.getElementById('edit-questions').innerText = "Edit Questions";
            values.hidden = false;
            questions.hidden = true;
        }
        else if (questions.hidden) {
            for (var i = 0; i < rowCount; i++) {
                document.getElementById(idModifier + "VTr"+i).hidden = true;
                document.getElementById(idModifier + "QTr"+i).hidden = false;
            }
            for (var j = 0; j < (columnCount*rowCount); j++) {
                if (document.getElementById(idModifier + "CBV"+j).checked) {
                    document.getElementById(idModifier + "CBQ"+j).checked = true;
                }
                else {
                    document.getElementById(idModifier + "CBQ"+j).checked = false;
                }
            }
            document.getElementById('edit-questions').innerText = "Edit Values";
            values.hidden = true;
            questions.hidden = false;
        }
    }

    function switchAnswerBoard() {
        var answerBoardButton = document.getElementById("show-answer-board");
        var answerBoardHeader = document.getElementById("answer-board-header");
        if (answerBoard.hidden) {
            answerBoard.hidden = false;
            answerBoardHeader.hidden = false;
            answerBoardButton.innerText = "Hide Answer Board";
        }
        else {
            answerBoard.hidden = true;
            answerBoardHeader.hidden = true;
            answerBoardButton.innerText = "Show Answer Board";
        }
    }

    function switchDouble() {
        if (document.getElementById('double-tables').hidden) {
            document.getElementById("rowRange").value = doubleRowCount;
            document.getElementById("columnRange").value = doubleColumnCount;
            idModifier = "d";
            if (!generatedDoubleTable) {
                generateTable();
                generatedDoubleTable = true;
            }
            document.getElementById('single-tables').hidden = true;
            document.getElementById('double-tables').hidden = false;
            document.getElementById('final-table').hidden = true;

            if (!document.getElementById('single-answers').hidden) {
                document.getElementById('single-answers').hidden = true;
                document.getElementById('double-answers').hidden = false;
            }

            document.getElementById('switch-final').innerText = "Switch to Final";
            document.getElementById('switch-double').innerText = "Switch to Single";
            document.getElementById('game-board-header').innerText = "Double Game Board";
            document.getElementById('answer-board-header').innerText = "Double Answer Board";

            answerBoard = document.getElementById('double-answers');
            values = document.getElementById('double-values');
            questions = document.getElementById('double-questions');
        
            document.getElementById('show-answer-board').hidden = false;
            document.getElementById('edit-questions').hidden = false;
        }
        else {
            document.getElementById("rowRange").value = singleRowCount;
            document.getElementById("columnRange").value = singleColumnCount;

            document.getElementById('single-tables').hidden = false;
            document.getElementById('double-tables').hidden = true;

            if (!document.getElementById('double-answers').hidden) {
                document.getElementById('single-answers').hidden = false;
                document.getElementById('double-answers').hidden = true;
            }

            document.getElementById('switch-double').innerText = "Switch to Double";
            document.getElementById('game-board-header').innerText = "Single Game Board";
            document.getElementById('answer-board-header').innerText = "Single Answer Board";

            answerBoard = document.getElementById('single-answers');
            values = document.getElementById('single-values');
            questions = document.getElementById('single-questions');

            document.getElementById('show-answer-board').hidden = false;
            document.getElementById('edit-questions').hidden = false;

            idModifier = "s";
        }
    }

    function switchFinal() {
        if (document.getElementById('final-table').hidden) {
            idModifier = "f";
            document.getElementById('single-tables').hidden = true;
            document.getElementById('double-tables').hidden = true;
            document.getElementById('final-table').hidden = false;

            document.getElementById('switch-final').innerText = "Switch to Single";
            document.getElementById('switch-double').innerText = "Switch to Double";
            document.getElementById('game-board-header').innerText = "Final Game Board";

            document.getElementById('show-answer-board').hidden = true;
            document.getElementById('edit-questions').hidden = true;
            document.getElementById('single-answers').hidden = true;

            if (document.getElementById('show-answer-board').innerText = "Show Answer Board") {
                document.getElementById('double-answers').hidden = true;
            }
            else if (document.getElementById('show-answer-board').innerText = "Hide Answer Board") {
                document.getElementById('double-answers').hidden = false;
            }
            document.getElementById('answer-board-header').hidden = true;
        }
        else {
            document.getElementById("rowRange").value = singleRowCount;
            document.getElementById("columnRange").value = singleColumnCount;
            
            idModifier = "s";
            document.getElementById('single-tables').hidden = false;
            document.getElementById('double-tables').hidden = true;
            document.getElementById('final-table').hidden = true;

            document.getElementById('switch-final').innerText = "Switch to Final";
            document.getElementById('game-board-header').innerText = "Single Game Board";
            document.getElementById('answer-board-header').innerText = "Single Answer Board";

            document.getElementById('show-answer-board').hidden = false;
            if (document.getElementById('show-answer-board').innerText = "Show Answer Board") {
                document.getElementById('single-answers').hidden = true;
            }
            else if (document.getElementById('show-answer-board').innerText = "Hide Answer Board") {
                document.getElementById('single-answers').hidden = false;
            }
            document.getElementById('edit-questions').hidden = false;
        }
}

    function changeCheckboxList(id) {
        var idNum = parseInt(id.replace(idModifier+"CBV", ""));
        var isChecked = document.getElementById(id).checked;
        if ((idModifier == "s") && (isChecked)) {
            singleDailyDoublesList[idNum] = 'checked';
        }
        else if ((idModifier == "s") && (!isChecked)) {
            singleDailyDoublesList[idNum] = 'unchecked';
        }
        else if ((idModifier == "d") && (isChecked)) {
            doubleDailyDoublesList[idNum] = 'checked';
        }
        else {
            doubleDailyDoublesList[idNum] = 'unchecked';
        }
    }

    function makeContentEditable(id) {
        if (isContentEditable) {
            var categoriesList = [];
            var valuesList = [];
            var cluesList = [];
            var answersList = [];

            var columnCount;
            var rowCount;

            if (idModifier == "s") {
                categoriesList = singleCategoriesList;
                valuesList = singleValuesList;
                cluesList = singleCluesList;
                answersList = singleAnswersList;
                columnCount = singleColumnCount;
                rowCount = singleRowCount;
            }
            else if (idModifier == "d") {
                categoriesList = doubleCategoriesList;
                valuesList = doubleValuesList;
                cluesList = doubleCluesList;
                answersList = doubleAnswersList;
                columnCount = doubleColumnCount;
                rowCount = doubleRowCount;
            }
            document.getElementById(id).contentEditable = false;
            var idNum = parseInt(id.slice(2).replace("C", ""));
            if (id.includes("fC")) {
                finalCategory = document.getElementById("fCA").innerText;
            }
            else if (id.includes("fQ")) {
                finalClue = document.getElementById("fQA").innerText;
            }
            else if (id.includes("fA")) {
                finalAnswer = document.getElementById("fAA").innerText;
            }
            else if (id.includes(idModifier+"C")) {
                for (var i = 0; i < columnCount; i++) {
                    document.getElementById(idModifier+"AC"+i+"A").innerText = document.getElementById(idModifier + "C"+i).innerText;
                }
                categoriesList[idNum] = document.getElementById(idModifier+"C"+idNum+"A").innerText;
            }
            else if (id.includes(idModifier+"AC")) {
                for (var i = 0; i < columnCount; i++) {
                    document.getElementById(idModifier+"C"+i+"A").innerText = document.getElementById(idModifier + "AC"+i).innerText;
                }
                categoriesList[idNum] = document.getElementById(idModifier+"AC"+idNum+"A").innerText;
            }
            else if (id.includes(idModifier+"Q")) {
                cluesList[idNum] = document.getElementById(idModifier+"Q"+idNum+"A").innerText;
            }
            else if (id.includes(idModifier+"A")) {
                answersList[idNum] = document.getElementById(idModifier+"A"+idNum+"A").innerText;       
            }
            
            if (idModifier == "s") {
                singleCategoriesList = categoriesList;
                singleValuesList = valuesList;
                singleCluesList = cluesList;
                singleAnswersList = answersList;
                singleColumnCount = columnCount;
                singleRowCount = rowCount;
            }
            else if (idModifier == "d") {
                doubleCategoriesList = categoriesList;
                doubleValuesList = valuesList;
                doubleCluesList = cluesList;
                doubleAnswersList = answersList;
                doubleColumnCount = columnCount;
                doubleRowCount = rowCount;
            }
        }
    }
</script>