<!DOCTYPE html>
<html>
    <head>
        <link id="stylesheet" rel="stylesheet" type="text/css" href="/static/css/style.css">
        <title id="title">Contact Support</title>
    </head>
    <body>
        <h1 class="title-name">Contact Support</h1>
        <form class="email-form" action="https://formspree.io/f/xrgvedpp" method="POST">
            <a>Your Email</a>
            <input type="email" name="email">
            <br><br>
            <a>Your Message:</a>
            <br>
            <textarea name="message"></textarea>
            <br>
            <button type="submit">Send Feedback</button>
        </form>
        <br>
        <form action="/" method="GET" style="text-align: center;">
            <button type="submit" style="font-size: 250%">Back</button>
        </form>
    </body>
</html>