<!DOCTYPE html>
<html>
    <head>
        <link id="stylesheet" rel="stylesheet" type="text/css" href="/static/css/style.css">
        <title id="title">Jeopardy Workshop</title>
    </head>
    <body>
        <h1 class="title-name">Jeopardy Workshop</h1>
    
        <div class="index-div">
            <h1>About</h1>
            <p>Jeopardy Workshop is a website to easily create, edit, and play a custom Jeopardy-like board. Two teams face off 
                against each other in a Jeopardy!-like trivia game. To get started, go to <a href="/custom/create-board">
                Create Board!</a><br><br><a style="text-decoration: underline">Disclaimer:</a> Jeopardy Workshop is in no way, shape, 
                or form related to or affiliated with the Jeopardy! brand or show. This is a fan-made website, not in connection to 
                the Jeopardy! Show. </p>
        </div>

        <div id="create-board-div" class="index-div" style="padding-bottom: 5px;">
            <form action="/custom/create-board" method="GET">
                <input class="create-board-input" type="submit" value="Create a Board"> 
            </form>
            <a style="font-size: 200%; margin-bottom: 30px;">OR</a>
            <br>
            <a style="font-size: 200%;" href="https://docs.google.com/spreadsheets/d/1QcFzKwD9e8Zo0XDX68SelxTqUqe_u_bomV3A0zrwiYU/edit?usp=sharing">Google Sheets Template</a>
        </div>

        <div id="select-board-div" class="index-div">
            <h1>Select a Board</h1>
            <br>
            <form id="csv-file-form" action="/custom/select" method="POST" enctype="multipart/form-data">
                <input type="file" id="csv_file" class="csv-file" name="csv_file" accept=".csv" value="PLAY Jeopardy Board">
                <input type="submit" class="csv-file" value="Choose Jeopardy Board">
            </form>
        </div>

        <div class="index-div">
            <h1>Report a Bug</h1>
            <p style="text-align: center;">To report a bug, contact me at<a href="/email"> support@jeopardyworkshop.com,</a> or go to the <a href="https://github.com/TheKing349/jeopardy-workshop/issues">Issues Tab</a> on my <a href="https://github.com/TheKing349/jeopardy-workshop/">Github Page.</a></p>
        </div>

        <div class="index-div">
            <h1>How we use your Data</h1>
            <p>We use cookies to save the .csv data you send us via the "Choose File" input. This is set in place so that other users do not conflict with 
                your game. If you disable or block cookies, the website will not work as intended. An error would occur when you select a jeopardy board.
                <br><br>Note that we <a style="font-weight: bold;">DO NOT</a> save or store the .CSV file sent to the server. The .CSV file is temporarily 
                stored on the server, then once downloaded, deleted. This is to keep your data secure and to not run out of storage on the server. All that 
                is <a style="font-weight: bold;">TEMPORARILY</a> saved on the server is the contents extracted from the .CSV, such as the Categories, Clues, 
                etc. Once the session ends(tab closes), the data(cookies) are removed.</p>
        </div>
    </body>
</html>